In [3]:
import pandas as pd # for dataframes
import matplotlib.pyplot as plt # for plotting graphs
import seaborn as sns # for plotting graphs
import datetime as dt
import numpy as np
from sklearn import cluster, datasets #for k-means
import random

In [30]:
df = pd.read_csv("user_payment.csv", index_col=0)
df.head()

        UID         payment_date  amount  YEAR  MONTH  DAY
0   3753824  2019-11-21 07:54:38     450  2018      9   21
3   3884784  2019-02-12 11:47:55      50  2017     12   13
4   3884784  2019-02-12 11:53:03      50  2017     12   13
9   3911344  2018-07-28 22:52:04     400  2017      5   28
11  3911344  2018-07-30 06:30:56     400  2017      5   30

In [31]:
item = []
for i in range(len(df)):
    item.append(random.randint(1,6))
df['item'] = item
df['num'] = df['amount']/25

In [40]:
sum(df[df['item']==1].num)

26289.599999999995

In [41]:
df.to_csv('user_payment_item.csv')